@using Charcoal.Models
@model IEnumerable<ProjectViewModel>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<div class="container-fluid">
    <div class="pull-right">
        <a href="#NewProject" role="button" class="btn btn-large btn-primary" data-toggle="modal">
            Create New Project </a>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                All your projects</h1>
        </div>
        @{
            if (!Model.Any())
            {
            <div class="alert-info">
                You are yet to create a projct. Hint: <i>Use the 'Create New Project' button</i></div>
            }
        }
        @foreach (var project in Model)
        {
            Html.RenderPartial("ProjectControl", project);
        }
    </div>
    <div class="modal hide fade" id="NewProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        @{
            Html.RenderPartial("Create", new ProjectCreateModel());
        }
    </div>
</div>
