@using Charcoal.Models
@model StoriesCollectionViewModel
@{
    ViewBag.Title = "Stories";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<div class="page-header container-fluid">
    <h1 class="span3">@Model.CollectionName</h1>
    <div id="fat-menu" class="dropdown btn btn-mini">
        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
            Navigate to<b class="caret"></b> </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
            <li>@Html.ActionLink("Current", "CurrentTab", new { projectId = Model.ProjectId })
            </li>
            <li>@Html.ActionLink("Backlog", "BacklogTab", new { projectId = Model.ProjectId })
            </li>
            <li>@Html.ActionLink("Ice", "IceboxTab", new { projectId = Model.ProjectId })
            </li>
        </ul>
    </div>
    
    <a href="#newstory" role="button" class="btn-mini icon-pencil" title="edit story" data-toggle="modal"></a>
</div>
<div class="container-fluid story-table" id="storyTable">
    @foreach (var story in Model.Stories)
    {
        Html.RenderPartial("StoryRow", story);
    }
</div>

<div class="modal hide fade" id="newstory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @{
        Html.RenderPartial("StoryCreate", new StoryViewModel(Model.ProjectId));
    }
</div>