@model Charcoal.Models.StoryViewModel
  
<div class="@Model.GetCardStyle()" id="story-@Model.Id">
    <div>
        <div class="story-details">
            <div class="pull-right">@Model.FormattedEstimate</div>
            <h3>@Model.GetHeader()</h3>
            <div class="story-text">
                <p>@Model.Title</p>
            </div>
            <div class="card-buttons btn-group">
                <a href="#storyEdit-@Model.Id" role="button" class="btn-mini icon-pencil" title="edit story" data-toggle="modal"></a>
                <a href="#" class="btn-mini icon-trash" title="delete story"></a>
                <a href="#" class="btn-mini icon-plus" title="add task"></a>
                <a href="#" class="btn-mini icon-eye-open" title="view story comments"></a>
            </div>
        </div>
    </div>
    <!--Comment/Notes section removed-->
</div>

 
<div class="modal hide fade" id="storyEdit-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @{
        Html.RenderPartial("StoryEdit",Model);
    }
</div>