@model Charcoal.Models.StoryViewModel

<table class="story-table">
<tr class="story-row @Model.Status">
    <td class="story-column">@Html.Partial("StoryDetails", Model)</td>
    <td class="task-column" id="storytasks-@Model.Id">
        @foreach (var task in Model.Tasks) {
            @Html.Partial("TaskDetails", task)
        }
    </td>
</tr>
</table>
