@model Charcoal.Models.StoryViewModel
           
<div class="@Model.GetCardStyle()">
    <div>
        <div class="story-details">
            <div class="estimate">@Model.Estimate</div>
            <h3>@Model.GetHeader()</h3>
            <div class="story-text">
                <p>@Model.Title</p>
            </div>
            <div class="card-buttons">
               @*Buttons*@
            </div>
        </div>
    </div>
<!--Comment/Notes section removed-->
</div>