@model Charcoal.Models.TaskViewModel      

<div class="@Model.GetStyle()">
    <h3>Task</h3>
    <p>@Model.Description</p>
    <p><strong>@Model.Assignees</strong></p>
    <div class="card-buttons">
       @*Buttons*@
    </div>
</div>